.nav-container {
    padding: 0 25px;
    border-bottom: 1px solid #cccccc2d;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;

    .nav-logo {
        width: 50px;
        height: 60%;
        object-fit: contain;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 45px;
        font-size: 17px;
        font-weight: 500;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            height: 100%;
            color: inherit;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            box-sizing: border-box;
        }

        a:hover, a.active {
            cursor: pointer;
            color: rgb(62, 123, 255);
            border-bottom-color: rgb(62, 123, 255);
        }

        .nav-button {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        background: #0505053f;
        border: 1px solid #cccccc70;
        color: white !important;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        transition: background 0.2s ease;
        margin-left: 35px;

        &:hover {
            background: #0505050a;
            cursor: pointer;
        }
    }
    }
}